@use "@styles/variables.scss" as *;

.submitArea {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_text {
    display: flex;
    flex-direction: column;
  }
  &_buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}
