@use "@styles/variables.scss" as *;

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: $border-radius;
  border: none;
  font-weight: $font-weight-semi;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  padding: 0.625em 1.2em;
  text-align: center;
  transition: all 0.2s ease;
  // font-size: 100%;
}

.filled {
  background-color: $primary;
  color: $text-white;
  font-weight: $font-weight-bold;

  &:hover {
    background-color: $primary-hover;
  }
}

.outlined {
  color: $primary;
  background-color: transparent;
  border: solid 2px $primary;

  &:hover {
    background-color: $primary-shadow;
  }
}

.unstyled {
  color: $text-main;
  background-color: transparent;
  border: none;

  &:hover {
    transform: scale(1.3);
    transition: scale 1.1s ease-in-out;
    // background-color: red;
  }
}

.white {
  color: $text-btn-white;
  background-color: $bg-white;
  border: solid 1px $border-color;

  &:hover {
    background-color: $bg-body;
  }
}

.sm {
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  font-size: 0.775rem;
}

.md {
  padding: 0.625rem 1.2rem 0.625rem 1.2rem;
  font-size: 0.876rem;
}

.bg {
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
}
