@use "@styles/variables.scss" as *;

.button {
  font-weight: $font-weight-bold;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border: 1px solid transparent;
  transition: all 0.1s ease;
}

.filled {
  border: none;
  background-color: $primary;
  color: $text-white;

  &:hover {
    background-color: $primary-hover;
  }
}

.outlined {
  border: solid 2px $primary;
  color: $primary;
  background-color: transparent;

  &:hover {
    background-color: $primary-light;
  }
}

.transparent {
  background-color: transparent;
  border: none;
  color: $text-muted;

  &:hover {
    background-color: $text-light;
  }
}

.sm {
  height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: $font-size-sm;
}

.md {
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: $font-size-md;
}

.bg {
  height: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: $font-size-bg;
}
