@keyframes leftAppear {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rightAppear {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
