@use "@styles/variables.scss" as *;

.layoutWrapper {
  display: flex;
  flex-direction: column;
  background-color: $bg-body;
  height: 100vh;
  overflow: hidden;
}

.layoutBody {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebarContainer {
  width: 250px;
  flex-shrink: 0;
  height: 100%;
  position: fixed;
  background-color: $bg-white;
  border-right: 1px solid $border-color;
  overflow-y: hidden;
  overflow-x: hidden;
}

.pageContent {
  flex: 1;
  height: 100%;
  margin-left: 250px;
  overflow-y: auto;
  background-color: $bg-body;
}
