@use "@styles/variables.scss" as *;

.iconContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 0;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
  }
}

.xs {
  font-size: 0.85rem;
}

.sm {
  font-size: 1.1rem;
}

.md {
  font-size: 1.4rem;
}

.bg {
  font-size: 1.8rem;
}

.primary {
  color: $primary;
}

.secondary {
  color: $text-muted;
}

.black {
  color: $text-main;
}

.white {
  color: $bg-white;
}

.grey {
  color: $text-btn-white;
}

.transparent {
  color: transparent;
}
