@use "@styles/variables.scss" as *;

.sm {
  svg {
    transform: scale(1.4) !important;
  }
}

.md {
  svg {
    transform: scale(1.7) !important;
  }
}

.bg {
  svg {
    transform: scale(2.3) !important;
  }
}

.primary {
  svg {
    color: $primary !important;
  }
}

.secondary {
  svg {
    color: $text-muted !important;
  }
}

.black {
  svg {
    color: $text-main !important;
  }
}

.white {
  svg {
    color: $bg_white !important;
  }
}

.grey {
  svg {
    color: $text-btn-white !important;
  }
}

.transparent {
  svg {
    color: transparent !important;
  }
}
