@use "@styles/variables.scss" as *;

.header {
  font-weight: $font-weight-bold;
  h1 {
    letter-spacing: -0.025em;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: 0px;
    border-bottom-width: 1px;
  }
}
