@use "@styles/variables.scss" as *;

.contentLibrary {
  padding: 30px;
  // padding-top: 0px;
  display: flex;
  overflow-x: hidden;
  position: relative;
  flex-direction: column;

  &_intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_btns {
      display: flex;
      gap: 20px;
    }
  }
}
