@use "@styles/variables.scss" as *;

.newMovie {
  &_generalInfo {
    padding: 30px;
    background-color: $bg-white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .doubleColumnInput {
      display: flex;
      gap: 20px;
      .inputBase {
        flex: 1;
      }
    }
  }

  &_movieImaging {
    padding: 30px;
    background-color: $bg-white;
    border-radius: 15px;
    height: fit-content;

    .uploadingImages {
      display: flex;
      gap: 25px;
      height: 250px;
      margin-top: 10px;

      .verticalPoster,
      .heroImage {
        position: relative;
        border: 2px dashed $border-color;
        border-radius: 12px;
        background-color: $bg-body;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &:hover {
          border-color: $primary;
          background-color: rgba($primary, 0.02);
        }

        input[type="file"] {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          z-index: 2;
        }
      }

      .verticalPoster {
        width: 240px;
        height: 100%;
      }
      .heroImage {
        flex: 1;
        height: 100%;
      }
    }
  }
}
