@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* 3. VARIABLES DE ENTORNO (CSS Variables para acceso rápido) */
:root {
  --primary: #7c3aed;
  --primary-hover: #6d28d9;
  --bg-body: #f8fafc;
  --bg-white: #ffffff;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --border-light: #e5e7eb;
  --font-main: "Inter", system-ui, -apple-system, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

body {
  max-height: fit-content;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  background-color: red;
  color: #0f172a;
  overflow: hidden;
  max-height: 100vh;

  /* line-height: 1.5; */
  overflow-x: hidden;
}
